In [1]:
#| label: app:interactive_sns_fig2

%matplotlib widget

from src.cdk.analysis.cytosol import platereader as pr
import pandas as pd

import seaborn as sns
import seaborn.objects as so

import matplotlib.pyplot as plt
import ipywidgets as widgets

import src.cdk.logging

pr.plot_setup()

data, platemap = pr.load_platereader_data("tests/test_data/cytation_dna_sweep.txt", "tests/test_data/platemap.csv")
ss_data = pr.find_steady_state(data)
ss_data

             Time_steadystate  Data_steadystate
Well Read
B1   490,520  0 days 03:30:00          50621.00
B2   490,520  0 days 03:45:00          46821.00
B3   490,520  0 days 04:25:00          32592.00
B4   490,520  0 days 05:55:00          19808.00
B5   490,520  0 days 04:30:00          15073.00
B6   490,520  0 days 04:10:00           5075.00
B7   490,520  0 days 03:20:00           4498.00
B8   490,520  0 days 03:20:00            253.00
C1   490,520  0 days 05:10:00          35535.00
C2   490,520  0 days 05:30:00            284.00
C3   490,520  0 days 03:55:00           3464.00
C4   490,520  0 days 03:55:00          46897.00
C5   490,520  0 days 01:25:00            246.00
C6   490,520  0 days 04:45:00           4008.00
C7   490,520  0 days 04:25:00          20034.00
C8   490,520  0 days 05:30:00          16839.00

In [2]:
combined_df = pd.merge(ss_data, data[['Well', 'Name', 'Experiment']], on='Well', how='left')
ss_df = combined_df.drop_duplicates()
ss_df

,Well,Time_steadystate,Data_steadystate,Name,Experiment
0,B1,0 days 03:30:00,50621.00,pT7-deGFP 100,Concentration
73,B2,0 days 03:45:00,46821.00,pT7-deGFP 50,Concentration
146,B3,0 days 04:25:00,32592.00,pT7-deGFP 20,Concentration
219,B4,0 days 05:55:00,19808.00,pT7-deGFP 10,Concentration
292,B5,0 days 04:30:00,15073.00,pT7-deGFP 5,Concentration
365,B6,0 days 04:10:00,5075.00,pT7-deGFP 2,Concentration
438,B7,0 days 03:20:00,4498.00,pT7-deGFP 1,Concentration
511,B8,0 days 03:20:00,253.00,pT7-deGFP 0,Concentration
584,C1,0 days 05:10:00,35535.00,pT7-lacO-plamGFP 29.3,Artifact
657,C2,0 days 05:30:00,284.00,pT7-lacO-plamGFP 35.8,Artifact
730,C3,0 days 03:55:00,3464.00,pT7-lacO-plamGFP 17.1,Artifact
803,C4,0 days 03:55:00,46897.00,pT7-tetO-plamGFP 72.7,Artifact
876,C5,0 days 01:25:00,246.00,pT7-tetO-plamGFP 46.4,Artifact
949,C6,0 days 04:45:00,4008.00,pT7-tetO-plamGFP 12.3,Artifact
1022,C7,0 days 04:25:00,20034.00,pT7-deGFP 178.5,Artifact
1095,C8,0 days 05:30:00,16839.00,pT7-deGFP 178.5,Artifact

In [5]:
def sns_plot_experiment_bars(experiment):

    plt.close()

    combined_df = pd.merge(ss_data, data[['Well', 'Name', 'Experiment']], on='Well', how='left').drop_duplicates()
    experiment_data = combined_df[combined_df['Experiment'] == experiment]

    sns.catplot(data=experiment_data, kind="bar", x="Name", y="Data_steadystate", height=5, aspect=1)
    # Rotate x-axis labels
    plt.xticks(rotation=60, ha='right', fontsize=10)
    plt.tight_layout
    plt.show()

# Create widgets for the parameters
toggle = widgets.ToggleButtons(
    options=['Concentration', 'Artifact'],
    description='EXPERIMENT:',
    disabled=False,
    button_style='', # 'success', 'info', 'warning', 'danger' or ''
    tooltips=['Description of slow', 'Description of regular', 'Description of fast'],
#     icons=['check'] * 3
)

# Use interact to link the widgets to the plotting function
my_widget = widgets.interact(sns_plot_experiment_bars, experiment=toggle)

interactive(children=(ToggleButtons(description='EXPERIMENT:', options=('Concentration', 'Artifact'), tooltipsâ€¦